<h1>USER INFO EDIT</h1>

<%= render("layouts/error_messages") %>

<%= form_tag("/users/#{@user.id}/update",method:"post",multipart:true) do %>
<div class="form-group">
<input name="name" placeholder="name" value="<%= @name %>">
</div>

<div class="form-group">
<input name="email" placeholder="email" value="<%= @email %>">
</div>

<div class="form-group">
<input name="password" placeholder="password" type="password">
</div>

<div class="form-group">
<input name="image" placeholder="image" type="file">
</div>


<button type="submit" class="btn btn-primary form-group">Update</button>
<% end %>
