<h1>LOG IN</h1>

<%= render("layouts/error_messages") %>


<%= form_tag("/login",method:"post") do %>
<div>
<input name="email" placeholder="email" value="<%= @email %>">
</div>
<div>
<input name="password" placeholder="password" type="password">
</div>
<div>
<input type="submit" value="submit">
</div>
<% end %>

