<div>
<input name="title" placeholder="title" value="<%= @title %>">
</div>
<div>
<textarea name="content" placeholder="content"><%= @content %></textarea>
</div>
<input type="submit" value="submit">
</div>