@import "bootstrap";

@mixin container{
  background-color:white;
  padding:10px;
  margin-bottom:10px;
  box-shadow: 1px 1px 1px gray;

  input{
    width:280px;
  }

  textarea{
    width:280px;
    height:400px;
  }
}

$heart:#dc0014;

body{
  background-color:lighten(#EEEEEE,5%);

  h1{
    font-weight:bolder;
  }

}

header{
  background-color:black;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:10;

  h1{
    color:white;
    margin-top:10px;
    margin-left:10px;
    float:left;
    font-size:25px;
  }

  .dropdown{
    margin-top:7px;
    margin-right:10px;
    float:right;
    height:20px;

    button{
      font-size:15px;
      font-weight:bolder;
    }
  }
}

.flash{
  position:fixed;
  top:60px;
  left:50px;
  z-index:30;
  width:auto;
  font-weight:bolder;

  p {
    margin-top:15px;
  }
}

footer{
  background-color:gray;
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
  z-index:0;

  p{
    margin-left:10px;
  }

  a{
    font-weight:bolder;
    color:black;

    &:hover{
      color:black;
    }
  }
}

#yield{
  margin-top:50px;
  margin-bottom:100px;
  padding:50px;
}

.list-box{
  background-color:white;
  padding:10px;
  margin-bottom:10px;
  box-shadow: 1px 1px 1px gray;
}

.container{
  @include container;
}

.like{

background-color:lighten(gray,40%);
width:50px;
text-align:center;
border-radius:10px;

span{
  font-weight:bolder;
}

.fa-heart{
  color:lighten($heart,20%);
  margin-right:2px;
}
}

.edit-destroy-button{
  margin-top:10px;
  margin-left:10px;
}

.user_posts{
  margin-top:50px;
}

.error_messages{
  font-weight:bolder;
}